/* styles.css */
.search-container {
    text-align: center;
    margin-top: 20px;
  }
  
  #search-input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
  }
  
  #search-button {
    padding: 10px;
    font-size: 16px;
  }
  button{
    padding: 10px;
    font-size: 16px;
  }
  
  #search-results {
    margin-top: 20px;
  }
  .result-item {
    display: flex;
    margin: 10px;
    padding: 10px;
  }
  .img-item{
    display: flex;
    padding-right: 20px;
  }
  .text-item{
    display: flex;
    flex-direction: column;
  }
  .bottom{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  
  }
  #page{
    padding-left: 20px;
    padding-right: 20px;
  }